/* Core css */
.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
}

a:hover {
    color: #278303;
}

a:active {
    color: blue;
}

* {
    font-family: sans-serif;
}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    /* background: #f7f6b9; */
}

.left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: white;
}

.midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 27px;
}

.right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    /* Background */
    border: 1.5px solid #f0f0f6;
}

.midd_top {
    position: relative;
    width: 970px;
    height: 467.09px;
    background-color: white;
    /* margin-bottom: 138.91px; */
}

.midd_bot {
    position: relative;
    width: 970px;
    height: 653px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
    background-color: #e5e5e5;
}

.link_href {
    text-decoration: none;
    color: black;
}
/* =============================================== */
/* Left 1 */
.left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left1-img {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}

.left1-img img {
    border-radius: 85px;
    max-width: 100%;
}

.left1-name {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    /* h4 - 18px */
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    /* or 22px */
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    /* black */
    color: #2b2b2b;
}

.left1-job {
    position: relative;
    width: 147.84px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
}

.left1-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}

.icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    /* background: #ffb400;  */
}

.icon-1 {
    position: relative;
    /* left: 29.17%;
    right: 27.08%; */
    /* margin-top: 5.86px; */
}
/* End Left 1 */
/* -------------------------------------------------------------- */

/* Left 2 Basic Info  */
.left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
}

.left2_basic {
    position: relative;
    display: flex;
    /* width: 221px; */
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.basic-1-1 {
    position: relative;
    width: 46.21px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb400;
}

.basic-1-2 {
    position: relative;
    width: 100%;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* text-align: right; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #2b2b2b;
}

.basic-2-1 {
    position: relative;
    width: 56%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb400;
}

.basic-2-2 {
    position: relative;
    width: 100%;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* text-align: right; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #2b2b2b;
}

.basic-3-1 {
    position: relative;
    width: 56%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb400;
}

.basic-3-2 {
    position: relative;
    width: 100%;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* text-align: right; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #7eb942;
}

.basic-4-1 {
    position: relative;
    width: 47%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb400;
}
.basic-4-2 {
    position: relative;
    width: 100%;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* text-align: right; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #2b2b2b;
}
/* End Left 2 */
/* --------------------------------------------------- */

/* Left 3 - 4 Languages and skills*/
.left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
}

.left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
}

.languages_skills {
    position: relative;
    width: 95px;
    height: 22px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #2b2b2b;
}

.lang_sk {
    position: relative;
    display: flex;
    /* width: 220px; */
    /* height: 24px; */
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    border-top: 10px;
}

.lang_sk_border {
    position: relative;
    /* display: flex; */
    width: 220px;
    height: 4px;
    justify-content: center;
    margin-bottom: 10px;
    border: 0.5 solid #ffb400;
    border-radius: 30px;
}

.lang-sk-1 {
    position: relative;
    width: 49px;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
}

.lang-sk-2 {
    position: relative;
    width: 100%;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
}

.perc-1 {
    position: relative;
    width: 220px;
    height: 2px;
    margin-top: 1px;
    background: #ffb400;
    border-radius: 30px;
}

.perc-2 {
    position: relative;
    width: 176px;
    height: 2px;
    margin-top: 1px;
    background: #ffb400;
    border-radius: 30px;
}

.perc-3 {
    position: relative;
    width: 132px;
    height: 2px;
    margin-top: 1px;
    background: #ffb400;
    border-radius: 30px;
}

.percent-1 {
    position: relative;
    width: 198px;
    height: 2px;
    margin-top: 1px;
    background: #ffb400;
    border-radius: 30px;
}

.percent-2 {
    position: relative;
    width: 187px;
    height: 2px;
    margin-top: 1px;
    background: #ffb400;
    border-radius: 30px;
}

.percent-3 {
    position: relative;
    width: 176px;
    height: 2px;
    margin-top: 1px;
    background: #ffb400;
    border-radius: 30px;
}

.percent-4 {
    position: relative;
    width: 165px;
    height: 2px;
    margin-top: 1px;
    background: #ffb400;
    border-radius: 30px;
}

.percent-5 {
    position: relative;
    width: 187px;
    height: 2px;
    margin-top: 1px;
    background: #ffb400;
    border-radius: 30px;
}
/* End Left 3-4 */
/* ----------------------------------------------------- */

/* .left4_sk {
    position: relative;
    display: flex;
    width: 221px;
    align-items: center;
    margin-bottom: 10px;
    border-top: 10px;
} */
/* -------------------------------------------------- */

/* Left 5 Extra skills */
.left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
}

.ex_skills {
    position: relative;
    width: 94px;
    height: 22px;
    margin-bottom: 19px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2b2b2b;
}

.ex_skill_text {
    position: relative;
    display: flex;
    margin-bottom: 14px;
    /* width: 221px; */
    align-items: center;
    flex-direction: row;
}

.border {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    /* box-sizing: border-box; */
    /* position: relative; */
}

.border-1 {
    position: relative;
    width: 10px;
    height: 10px;
    /* position: relative; */
    border: 1px solid #ffb400;
    box-sizing: border-box;
}

.border-2 {
    position: relative;
    width: 10px;
    height: 10px;
    /* margin-left: 20px; */
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    border: 1px solid #ffb400;
    box-sizing: border-box;
}

.text {
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* End Left 5 */
/* =================================================== */

/* MIDDLE FRAME */

.mtop_div {
    display: flex;
    flex-direction: row;
}

.mtop_frame {
    display: flex;
    flex-direction: column;
    width: 970px;
}

/* urtada turgani doira*/
.dot1 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 496px;
    top: 46px;
    border-radius: 50%;
    border: 2px solid rgba(5, 255, 0, 0.8);
    box-sizing: border-box;
}

/* yuqori ungda yashil tortburchak */
.dot2 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 898px;
    top: 79px;
    border: 2px solid rgba(255, 180, 0, 0.8);
    box-sizing: border-box;
}

/* pastda urtada sariq doira */
.dot3 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 554.86px;
    top: 379.96px;
    border-radius: 50%;
    border: 2px solid rgba(255, 180, 0, 0.8);
    box-sizing: border-box;
}

/* past ungda yashil doira */
.dot4 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 90px;
    top: 422px;
    border-radius: 50%;
    border: 2px solid rgba(5, 255, 0, 0.8);
    box-sizing: border-box;
}

/* yuqori ungdagi sariq doira */
.dot5 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 63.66px;
    top: 25.66px;
    border-radius: 50%;
    border: 2px solid rgba(255, 180, 0, 0.8);
    box-sizing: border-box;
    transform: rotate(26.05deg);
}

/* past urtadagi kok turtburchak */
.dot6 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 375.03px;
    top: 331px;
    border: 2px solid rgba(0, 71, 255, 0.8);
    box-sizing: border-box;
    transform: rotate(26.05deg);
}

/* past chap qizil doira */
.dot7 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 925px;
    top: 427px;
    border-radius: 100px 10px 15px 20px;
    border: 2px solid rgba(255, 46, 0, 0.8);
    box-sizing: border-box;
}

.mtop_main_text {
    position: relative;
    width: 500px;
    height: 118px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 123.6%;
    margin-top: 93px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    color: #2b2b2b;
}

.mtop_text {
    position: relative;
    width: 424px;
    height: 88px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 18px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
}

.mtop_btn {
    position: relative;
    display: flex;
    flex-direction: row;

    width: 154px;
    height: 51px;
    margin-top: 25px;
    margin-left: 60px;

    justify-content: center;
    align-items: center;

    background: #ffb400;
    border-radius: 5px;
}

.mtop_img {
    position: relative;
    width: 325.72px;
    height: 459.09px;
    /* justify-content: flex-end; */
    display: flex;
    flex-direction: column;
    margin-right: 57.6px;
    margin-top: 8px;
}

.btn_text {
    position: relative;
    display: flex;
    flex-direction: row;
}

.btn_icon {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 11.67px;
}

/* Midd bottom  */
.mbot_main_text {
    position: relative;
    width: 500px;
    height: 118px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 123.6%;
    margin-top: 93px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #2b2b2b;
}

.mbot_text {
    position: relative;
    width: 438px;
    height: 68px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
}

.midd_boxes {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.boxes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 225px;
    margin-right: 20px;
    background: #ffffff;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img {
    margin-bottom: 33.44px;
}

.box-main-text {
    margin-bottom: 15px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    font-weight: bold;
    text-transform: capitalize;
    color: #2b2b2b;
}

.box-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
}

.end-box-main-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    font-weight: bold;
    color: #2b2b2b;
}

.end-box-text {
    position: relative;
    width: 260px;
    height: 78px;
    margin-bottom: 28px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
}
.end-box-link {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 75px;
    height: 14px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #ffb400;
}
.end-box-icon {
    position: relative;
    left: 38.93%;
    right: 37.5%;
    margin-left: 4.79px;
    background: #ffb400;
}

/* ================================================ */

/* Right frame */
.menu {
    position: relative;
    width: 65px;
    height: 493px;
    margin-right: 22px;
    margin-left: 21px;
    margin-top: 177px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home_icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb400;
}

.menu_icon_border {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f6;
}

.menu_icon_border:hover {
    background-color: #ffb400;
}

.menu_icon_border .tooltip {
    visibility: hidden;
    width: 75px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 110%;
    margin-left: -60px;
}

.menu_icon_border .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.menu_icon_border:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.vector {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-top: 52px;
    margin-right: 41px;
    margin-left: 41px;
    /* background: #2B2B2B; */
}
